body{
color:#ffffff;
background-image:url('../img/bg2.jpg');
background-size: cover;
background-attachment: fixed;
background-position:50% 50%;
}
.cont-main{
 color:#000; 
}
.page-body{
width:60%;
margin:auto;
}
.header{
background:#148241;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
font-size: 1.1em;
padding:5px;
}
.row1{
background:#fff;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
font-size: 1.1em;
border: 1px solid #d8d8d8;
color:#148241;
padding:10px;
}
.row2{
background:#148241;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
font-size: 1.1em;
border: 1px solid #d8d8d8;
}
.home{
background:#fff;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
margin:0px 26px 0px 26px;
padding:20px;
}
.aboutus{
font-size:1.2em;
font-family: 'Josefin Sans', sans-serif;
line-height:1.5em;
word-spacing:0.6em;
font-weight: 300;
}
.aboutus p{
padding:20px;
}
.grocerTitle{
font-size:1.5em;
font-weight: 700;
letter-spacing: 1px;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.title{
padding-top:5px;	
padding-bottom:5px;	
}
.menu{
overflow-x:hidden;
}
.icon-bar,.sr-only{
color:#fff;
}
.cont-main-left{
background:#fff;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
font-size: 1.1em;
border: 1px solid #d8d8d8;
margin:0px 25px;
}
.facebook{
background: #3c66c4;
color:#fff;
padding:3px 8px;
border: 1px solid #d8d8d8;
}
.portfolio-item {
font-family: 'Josefin Sans', sans-serif;
}
.portfolio-item img{
box-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.p-div{
padding:20px;
margin:5px;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
}
.p-title{
font-weight: 700;
letter-spacing: 1px;
}
.gmail{
background: #cf4332;
color:#fff;
padding:3px 8px;
border: 2px solid #d8d8d8;
}
.facegmail .col-md-6{
padding-left:0;
padding-right:0;
}
.or{
position: relative;
border-bottom: 1px solid #ccc;
margin: 30px 0;
line-height: normal;
}
.or span{
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
color: #58595b;
border: 1px solid #ccc;
padding: 5px;
left: 45%;
padding: 5px;
position: absolute;
top: -14px;
background: #fff;
font-size: 12px;
}
.email-signup{
margin-bottom:20px;
}
.email-signup input,.email-signup select{
margin-top:8px;
padding:4px;
}
.tc{
font-size:0.8em;
}
.tc a{
text-decoration: underline;
}
.carousel{
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
border: 1px solid #d8d8d8;
margin:0px 10px;
}
.products{
margin:10px 0px 20px 25px;
background:#fff;
box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
border: 1px solid #d8d8d8;
}
.p-img{
height:100px;
}
.caption p{
padding:0px 3px;
margin-top: 30px;
}


@media (max-width: 991px) {
.grocerTitle{
font-size:0.9em;
font-weight:700;
}
.left .glyphicon,.right .glyphicon{
opacity:0;
}
.carousel-indicators li{
height:5px;
width:5px;
}
.carousel-caption{
opacity:0;
}
.count-cart{
font-size:0.8em;
}
.products{
width:94.5%
}
.top-container{
}
}
